body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    line-height: 1.6;
}

.nav-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    margin: 10px 0;
}

.search-toggle-button {
    border:none;
    background: none;
    font-size: 20px;
    padding: 5px 10px;
}

.search-toggle-button:hover {
    color: #2c4870;
}

.search-input-area {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#search-input {
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    width: 200px;
    transition: border 0.3s;
}

#search-input:focus {
    border-color: #4a6fa5;
}

.hide {
    display: none;
}

.search-button {
    border: none;
    border-radius: 0 5px 5px 0;
    height: 100%;
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #4a6fa5;
    transition: background-color 0.3s;
}

.head-line {
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.menus button {
    border: none;
    background: none;
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menus button:hover {
    background-color: #dde5f0;
}

.close-button, .open-button {
    display: none;
}

#news-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333;
    padding: 2em 1em;
}

.news {
    width: 95%;
    transition: transform 0.2s;
}

.news:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.news:hover .news-content h2 {
    color: slateblue;
    font-weight: bold;
}

.news-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.news-img img {
    max-width: 100%;
    min-height: 200px;
    max-height: 250px;
}

.news-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.news-content h2 {
    font-family: 'MaruBuriBold';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    transition: color 0.2s;
}

.news-content p {
    font-family: 'MaruBuriSemiBold';
    font-size: 1rem;
    color: #555;
}

.news-content div {
    font-family: 'MaruBuriExtraLight';
    font-size: 15px;
}

.pagination-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.page-item.disabled:hover {
    cursor: not-allowed;
}

.page-item a {
    cursor: pointer;
    color: #4a6fa5;
    border-radius: 4px;
    margin: 0 5px;
}

.page-item.active a {
    background-color: #4a6fa5;
    border-color: #4a6fa5;
}

.page-item:not(.active) a:hover {
    color: #ffffff;
    background-color: #6c8eb9;
}

@media (min-width: 601px) {
    .menus {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        width: auto !important;
        position: static !important;
        flex-direction: row !important;
    }
}

@media (max-width: 600px) {
    .nav-container {
        margin-left: 1em;
    }

    .menus {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background-color: #f0f4f8;
        overflow-x: hidden;
        margin-top: 0px;
        border-bottom: none;
        padding-top:15px;
        transition: 0.5s;
        flex-direction: column;
    }

    .menus button {
        padding: 8px 8px 8px 32px;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: background-color 0.3s;
    }

    .menus .close-button {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 8px;
    }

    .open-button {
        display: block;
        font-size: 25px;
        cursor: pointer;
        margin-right: 5px;
    }

}

